*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
vendor/*
gallery.md
_config.yml
.gitignore
mnaderi98.github.io - Shortcut.lnk
assets/images/6.jpg
assets/images/7.jpg
gallery.md
.gitignore
